<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= locals.title %>
        </title>
    </head>
    <body>
        <div style="text-align: center;font-size:2.2rem;font-family: sans-serif;">Contact List</div>
    </body>
</html>