<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= locals.title %>
        </title>
    </head>
    <body>
        <div style="text-align: center;font-size:2.2rem;font-family: sans-serif;">Contact List</div>
        <div>
            <div>
                <ul>
                    <% for(let i of contact_list) { %>

                        <li>
                            <p><%=  i.name %> </p>
                            <p><%=  i.phone %></p>
                        </li>

                    <% } %>
                </ul>
            </div>
        </div>
    </body>
</html>